h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background: #efefef;
}

input, button {
  outline: none !important;
}

a {
  color: #017bce;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #eee;
  color: #555;
}

header {
  margin: 10px;
  font-size: 2rem;
}

section {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  background: #fff;
  -webkit-box-shadow: 0 0 1px 1px #999999;
  -moz-box-shadow: 0 0 1px 1px #999999;
  box-shadow: 0 0 1px 1px #999999;
}
section h1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #017bce;
  text-align: center;
}
section h4 {
  margin: 10px 0;
}
section .elements-list {
  margin: 10px;
  margin-bottom: 20px;
}

@-webkit-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@-moz-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@-o-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@-ms-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

.windows-loader, .windows-loader1, .windows-loader2, .windows-loader3, .windows-loader4, .windows-loader5 {
  position: absolute;
  box-sizing: border-box;
  margin: 20px 0 0 70px;
  height: 50px;
  width: 100px;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.windows-loader:after, .windows-loader1:after, .windows-loader2:after, .windows-loader3:after, .windows-loader4:after, .windows-loader5:after {
  display: block;
  content: "";
  height: 8px;
  width: 8px;
  background: #017bce;
  border-radius: 10px;
  margin: 0 auto;
}

.windows-loader1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.windows-loader1:after {
  height: 7px;
  width: 7px;
}

.windows-loader2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.windows-loader2:after {
  height: 6px;
  width: 6px;
}

.windows-loader3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.windows-loader3:after {
  height: 5px;
  width: 5px;
}

.windows-loader4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.windows-loader4:after {
  height: 4px;
  width: 4px;
}

.windows-loader5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.windows-loader5:after {
  height: 3px;
  width: 3px;
}

.circle-loader-linear {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease-in {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease-out {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease-in-out {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-linear {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease-in {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease-out {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease-in-out {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.icon-cross {
  width: 25px;
  height: 1px;
  background: #017bce;
  margin: 15px 0 0 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon-cross:after {
  content: '';
  width: 25px;
  height: 1px;
  background: #017bce;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
