h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background: #efefef;
}

input, button {
  outline: none !important;
}

a {
  color: #017bce;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #eee;
  color: #555;
}

header {
  margin: 10px;
  font-size: 2rem;
}

section {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  background: #fff;
  -webkit-box-shadow: 0 0 1px 1px #999999;
  -moz-box-shadow: 0 0 1px 1px #999999;
  box-shadow: 0 0 1px 1px #999999;
}
section h1 {
  border-bottom: 2px solid #017bce;
  text-align: center;
}
section h4 {
  margin: 10px 0;
}
section .elements-list {
  margin: 10px;
}

@-webkit-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-loader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@-moz-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@-o-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@-ms-keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

@keyframes linear-loader {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }

  to {
    -webkit-transform: translate(180px);
    -moz-transform: translate(180px);
    -ms-transform: translate(180px);
    -o-transform: translate(180px);
    transform: translate(180px);
  }
}

.circle-loader-linear {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 23.33333px !important;
  -moz-border-radius: 23.33333px !important;
  -ms-border-radius: 23.33333px !important;
  -o-border-radius: 23.33333px !important;
  border-radius: 23.33333px !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 23.33333px !important;
  -moz-border-radius: 23.33333px !important;
  -ms-border-radius: 23.33333px !important;
  -o-border-radius: 23.33333px !important;
  border-radius: 23.33333px !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease-in {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 23.33333px !important;
  -moz-border-radius: 23.33333px !important;
  -ms-border-radius: 23.33333px !important;
  -o-border-radius: 23.33333px !important;
  border-radius: 23.33333px !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease-out {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 23.33333px !important;
  -moz-border-radius: 23.33333px !important;
  -ms-border-radius: 23.33333px !important;
  -o-border-radius: 23.33333px !important;
  border-radius: 23.33333px !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle-loader-ease-in-out {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border: 3px solid transparent;
  border-top: 3px solid #017bce;
  -webkit-border-radius: 23.33333px !important;
  -moz-border-radius: 23.33333px !important;
  -ms-border-radius: 23.33333px !important;
  -o-border-radius: 23.33333px !important;
  border-radius: 23.33333px !important;
  -webkit-animation-name: circle-loader;
  -moz-animation-name: circle-loader;
  -ms-animation-name: circle-loader;
  -o-animation-name: circle-loader;
  animation-name: circle-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-linear {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease-in {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease-out {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.linear-loader-ease-in-out {
  height: 3px;
  width: 20px;
  background: #017bce;
  -webkit-animation-name: linear-loader;
  -moz-animation-name: linear-loader;
  -ms-animation-name: linear-loader;
  -o-animation-name: linear-loader;
  animation-name: linear-loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
