@charset "utf-8";
@import "compass/css3/",
		"animation",
		"keyframes";

@mixin m-position ($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin m-circle-loader ($size, $border-width, $color, $duration, $function) {
	box-sizing: border-box;
	height: $size;
	width: $size;
	border: $border-width solid transparent;
	border-top: $border-width solid $color;
	@include border-radius(50% !important);
	@include single-animation(circle-loader, $duration, $function);
}

@mixin m-linear-loader ($height, $width, $color, $duration, $function) {
	height: $height;
	width: $width;
	background: $color;
	@include single-animation(linear-loader, $duration, $function);
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
ul {
	list-style-type: none;
	padding: 0;
}
button { background: #efefef; }
input, button { outline: none !important; }
a {
	color: #017bce;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.hidden { display: none; }

body {
	font-family: 'Raleway', sans-serif;
	background: #eee;
	color: #555;
}

header {
	margin: 10px;
	font-size: 2rem;
}

section {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
	background: #fff;
	@include box-shadow(0 0 1px 1px #999);

	h1 {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 2px solid #017bce;
		text-align: center;
	}
	h4 { margin: 10px 0; }
	.elements-list {
		margin: 10px;
		margin-bottom: 20px;
	}
}

@include keyframes(circle-loader) {
	from { @include transform(rotate(0deg)); }
	to   { @include transform(rotate(360deg)); }
}
@include keyframes(linear-loader) {
	from { @include transform(translate(0px)); }
	to   { @include transform(translate(180px)); }
}

.windows-loader {
	position: absolute;
	box-sizing: border-box;
	margin: 20px 0 0 70px;
	height: 50px;
	width: 100px;
	// border: 2px solid #017bce;
	@include single-animation(circle-loader, 1s, ease-out);

	&:after {
		display: block;
		content: "";
		height: 8px;
		width: 8px;
		background: #017bce;
		border-radius: 10px;
		margin: 0 auto;
	}
}

.windows-loader1 {
	@extend .windows-loader;
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
	&:after { height: 7px; width: 7px; }
}
.windows-loader2 {
	@extend .windows-loader;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	&:after { height: 6px; width: 6px; }
}
.windows-loader3 {
	@extend .windows-loader;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	&:after { height: 5px; width: 5px; }
}
.windows-loader4 {
	@extend .windows-loader;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
	&:after { height: 4px; width: 4px; }
}
.windows-loader5 {
	@extend .windows-loader;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	&:after { height: 3px; width: 3px; }
}

.circle-loader-linear      { @include m-circle-loader (35px, 3px, #017bce, 1s, linear); }
.circle-loader-ease        { @include m-circle-loader (35px, 3px, #017bce, 1s, ease ); }
.circle-loader-ease-in     { @include m-circle-loader (35px, 3px, #017bce, 1s, ease-in ); }
.circle-loader-ease-out    { @include m-circle-loader (35px, 3px, #017bce, 1s, ease-out ); }
.circle-loader-ease-in-out { @include m-circle-loader (35px, 3px, #017bce, 1s, ease-in-out ); }

.linear-loader-linear      { @include m-linear-loader (3px, 20px, #017bce, 1s, linear); }
.linear-loader-ease        { @include m-linear-loader (3px, 20px, #017bce, 1s, ease); }
.linear-loader-ease-in     { @include m-linear-loader (3px, 20px, #017bce, 1s, ease-in); }
.linear-loader-ease-out    { @include m-linear-loader (3px, 20px, #017bce, 1s, ease-out); }
.linear-loader-ease-in-out { @include m-linear-loader (3px, 20px, #017bce, 1s, ease-in-out); }

.icon-cross {
	width: 25px;
	height: 1px;
	background: #017bce;
	margin: 15px 0 0 4px;
	@include transform(rotate(45deg));
	&:after {
		content: '';
		width: 25px;
		height: 1px;
		background: #017bce;
		position: absolute;
		top: 0px;
		left: 0px;
		@include transform(rotate(90deg));
	}
}